<template id="template">

  <style>

    /*! my-element */
    :host {
      display: block;
      background: blue;
      width: 300px;
      height: 100px;
    }

    :host(.red) {
      background: #ff0000;
    }

    h1 {color: white;}

  </style>

  <h1>Hey you!</h1>

</template>

<script>

  (function (document, currentScript) {

      var ownerDocument = currentScript.ownerDocument;

      var MyElement = Object.create(HTMLElement.prototype);

      MyElement.createdCallback = function() {

        var shadow = this.createShadowRoot();

        var template = ownerDocument.querySelector('#template') ||
                      currentScript.import.querySelector('#template');

        template.content ?
        shadow.appendChild(template.content.cloneNode(true)) :
        shadow.innerHTML = template.innerHTML;
      };

      document.registerElement('my-element', { prototype: MyElement });

  })(document, document.currentScript);

</script>
