<template id="template">

  <h1 class="name"></h1>
  <input type="text" class="new-name">

</template>

<script>

  (function (document) {

    var currentScript = document.currentScript,
        ownerDocument = currentScript.ownerDocument;

    var TestElementOne = Object.create(HTMLElement.prototype);

    TestElementOne.createdCallback = function() {

      var shadow = this.createShadowRoot();

      var template = ownerDocument.querySelector('#template') ||
                      currentScript.import.querySelector('#template');

      template.content ?
      shadow.appendChild(template.content.cloneNode(true)) :
      shadow.innerHTML = template.innerHTML;
    };

    document.registerElement('test-element-one', { prototype: TestElementOne });

  })(document);

</script>
